{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/playlist_display.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    {% include 'layout/navbar.html' %}
    {% block content %}
    <h1>Your library</h1>
    <div class="filters"><button id="lists">Lists</button><button id="albums">Albums</button><button id="reset"><i class="fa-solid fa-xmark"></i></button></div>
    <div class="playlists">
        <div class="add">
            <a href="{%url 'createplaylist' %}"><img src="{% static 'img/add.png' %}" alt=""></a>
        </div>
        <div>
            <a href="{% url 'saved' %}"><i class="fa-solid fa-heart" style="color: white;"></i></a>
        </div>
    {% for play in playlist %}
    <div class="playlist">
        <a href="{% url 'showplaylist' play.id %}">
            <br>{% if play.photo %}
            <img id="cover" src="{{ play.photo.url }}" alt="?">
            <br><p class="p-name">{{play.title | truncatechars:15}} </p><p class="list">list • {{user.profile.nickname}} </p>
            {% else %}
            <p>no photo</p>
            <br><p class="p-name">{{play.title | truncatechars:15}} </p><p class="list">list • {{user.profile.nickname}} </p>
            {% endif %}
        </a>
    </div>
    {% endfor %}
    {% for album in user.profile.liked_albums.all %}
    <div class="album">
        <a href="{% url 'album' album.id%}">
            {% if album.cover %}
            <br><img id="cover" src="{{ album.cover.url }}" alt="">
            {% endif %}
            <p class="p-name">{{album.title | truncatechars:15}}</p>
        </a>
        <p class="list">album • <a href="{% url 'artist' album.artist.id %}">{{album.artist}}</a></p>
    </div>

    {% endfor %}
    </div>
</body>
</html>
<script>
    // scripts.js
    let reset = document.getElementById('reset');
    let lists = document.getElementById('lists');
    let albums = document.getElementById('albums');
    let playlist = document.getElementsByClassName('playlist');
    let album = document.getElementsByClassName('album');

    lists.addEventListener('click', () => {
        lists.style.border = "3.5px solid rgba(135, 24, 204, 0.6)";
        albums.style.border = "3.5px solid transparent";
        reset.style.display = 'flex';
        for (let i = 0; i < album.length; i++) {
            album[i].style.display = 'none';
        }

        for (let i = 0; i < playlist.length; i++) {
            playlist[i].style.display = 'block'
        }
    });

    albums.addEventListener('click', () => {
        albums.style.border = "3.5px solid rgba(135, 24, 204, 0.6)";
        lists.style.border = "3.5px solid transparent";
        reset.style.display = 'flex';
        for (let i = 0; i < playlist.length; i++){
            playlist[i].style.display = "none";
        }

        for (let i = 0; i < album.length; i++){
            album[i].style.display = 'block'
        }
    
    })

    reset.addEventListener('click', () => {
        albums.style.border = "3.5px solid transparent";
        lists.style.border = "3.5px solid transparent";
        for (let i = 0; i < album.length; i++){
            album[i].style.display = 'block';
            reset.style.display = 'none';
        }

        for (let i = 0; i < playlist.length; i++){
            playlist[i].style.display = 'block';
            reset.style.display = 'none';
        }
    });

</script>
{% endblock %}