<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'layout/navbar.html' %}
    <div class="song">
        <p>{{songs.album}}</p>
        <p>{{songs.title}}</p>
        {% if songs.album.cover %}
            <img src="{{ songs.album.cover.url }}" alt="">
        {% endif %}
        {% if songs.artist.id %}
            <a href="{% url 'artist' songs.artist.id %}">{{ songs.artist.name }}</a>
        {% else %}
        <p>{{songs.artist}}</p>
        {% endif %}
        {% if songs.audio_file %}
        <audio controls>
            <source src="{{ songs.audio_file.url }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        {% else %}
            <p>nada</p>
        {% endif %}
        {% if user.is_authenticated %}
            {% if songs in liked_songs %}
                <form action="{% url 'unlikeSong' songs.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">unlike</button>
                </form>
            {% else %}
                <form action="{% url 'likeSong' songs.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">like</button>
                </form>
            {% endif %}
        {% else %}
                <a href="{% url 'signin' %}">like</a>
        {% endif %}
    </div>
</body>
</html>
<style>
    .song{
        border: 1px solid black;
    }
</style>