<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>song lsit</h2>
    {% include 'layout/navbar.htm' %}
    {% for song in songs %}
    <div class="song">
        <p>{{song.title}}</p>
        <p>{{song.album}}</p>
        {% if artist.id %}
            <a href="{% url 'artist' artist.id %}">{{ artist.name }}</a>
        {% else %}
        <p>{{song.artist}}</p>
        {% endif %}
        {% if song.audio_file %}
        <audio controls>
            <source src="{{ song.audio_file.url }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        {% else %}
            <p>nada</p>
        {% endif %}
    </div>
    {% endfor %}
</body>
</html>
<style>
    .song{
        border: 1px solid black;
    }
</style>