{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WNRPLAYER</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/home.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}"><img id="home" src="{% static 'img/home.png' %}" alt=""></a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'library' %}"><img id="lib" src="{% static 'img/library.png' %}" alt=""></a></li>
                <li><a href="{% url 'saved' %}"><img id="liked" src="{% static 'img/liked.png' %}" alt=""></a></li>
                {% if user.profile.pfp %}
                <div id="profile">
                    <a href="{% url 'profile' user.id %}">
                        <img class="pfp" src="{{ user.profile.pfp.url }}" alt="Perfil">
                    </a>
                </div>
                {% else %}
                    <a href="{% url 'profile' user.id %}"><p>{{profile.nickname}}</p></a>
                {% endif %}
            {% else %}
                <li><a href="{% url 'signup' %}">sign up</a></li>
            {% endif %}
            <li><form action="{% url 'results' %}" method="POST">
                {% csrf_token %} 
                <input type="text" name="q" placeholder="search">
            </form></li>
        </ul>
    </nav>
</body>
{% block content %}
{% endblock %}
</html>