{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WNRPLAYER</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/home.css' %}">
    <link rel="stylesheet" href="{%  static 'stylesheets/navbar.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}"><i class="fa-solid fa-house" id="home-icon"></i></a></li>
            <li></li>
                <i id="search" class="fa-solid fa-magnifying-glass" style="color: white;"></i>
                <form id="form-search" action="{% url 'results' %}" method="POST">
                    {% csrf_token %} 
                    <input type="text" name="q" placeholder="search">
                </form>
            </li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'library' %}"><i class="fa-solid fa-bookmark" id="bookmark"></i></a></li>
                {% if user.profile.pfp %}
                <div id="profile">
                    <a href="{% url 'profile' user.id %}">
                        <img class="pfp" src="{{ user.profile.pfp.url }}" alt="Perfil">
                    </a>
                </div>
                {% else %}
                    <a href="{% url 'profile' user.id %}"><p>{{profile.nickname}}</p></a>
                {% endif %}
            {% else %}
                <li><a href="{% url 'signup' %}">sign up</a></li>
            {% endif %}
        </ul>
    </nav>
</body>
{% block content %}
{% endblock %}
</html>
<script>

    const searchButton = document.getElementById("search");

    searchButton.addEventListener('click', function(){
        const formInput = document.getElementById("form-search");
        
        if (formInput.style.display == "none"){
            formInput.style.display = "block";
        } else {
            formInput.style.display = "none";
        }

    });


</script>
