{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/signin.css' %}">
</head>
<body>
    <h3>sign up</h3>
    <form class="form" method="POST">
        <h1>Sign up</h1>
    {% csrf_token %}
        <p>Enter username</p>{{form.username}}
        <p>Enter password</p>{{form.password1}}
        <p id="contain">The password must cointain at least 8 characters, one uppercase letter, one lowercase letter, one number and one special character</p>
        <p>Confirm password</p>{{form.password2}}
        <button class="btn-confirm">Create</button>
    </form>
    <p>already have an account? <a href="{% url 'signin' %}">sign in!</a></p>
</body>
</html>