{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/album.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    {% include 'layout/navbar.html' %}
    <div class="display">
        <div class="separation">
            <img id="cover" src="{{ album.cover.url }}" alt="">
            <p class="p-t">{{album.title}}</p>
            {% if album.artist%}
            <a href="{% url 'artist' album.artist.id %}"><p class="p-description">{{album.artist}}</p></a>
            {% endif %}
            <p class="p-dor">{{album.dateofrelease}}</p>    
            {% if user.is_authenticated %}
                {% if album in liked_albums %}
                    <form action="{% url 'unlike' album.id %}" method="post">
                        {% csrf_token %}
                        <button id="unlikeBtn" type="submit"><i id="unlike" class="fa-solid fa-heart"></i></button>
                    </form>
                {% else %}	
                    <form action="{% url 'like' album.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" id="likeBtn"><i id="like" class="fa-regular fa-heart"></i></button>
                    </form>
                {% endif %}
            {% else %}
                <a href="{% url 'signin' %}"><i id="like" class="fa-regular fa-heart"></i></a>
            {% endif %}
        </div>
    </div>
    <div class="div-songs">
        <div class="songs">
            {% for song in album.song_set.all %}
            <div class="cards song-details" onclick="togglePlayPause(this.closest('.song-details'))">
                <div class="rest-1">
                    <p class="p-description">{{song.title|truncatechars:18}}</p>
                    {% if song.artist %}
                    <a href="{% url 'artist' song.artist.id %}"><p class="p-artist">{{song.artist}}</p></a>
                    {% endif %}
                </div>
                <div class="play-button">
                    {% if song.audio_file %}
                    <div class="audio-div">
                        <audio id="audioPlayer" src="{{ song.audio_file.url }}" type="audio/mpeg"></audio>
                        <button id="playPauseBtn" class="play-btn">
                            <img id="playIcon" src="{% static 'img/play.png' %}" alt="Play" style="display: block;">
                            <img id="pauseIcon" src="{% static 'img/pause.png' %}" alt="Pause" style="display: none;">
                        </button>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
<script>
    var audioPlayers = document.querySelectorAll('audio[id^="audioPlayer"]');
       var currentAudio = null;
   
       // Mueve la función togglePlayPause fuera del DOMContentLoaded para hacerla accesible globalmente
       window.togglePlayPause = function(songDetailElement) {
           var audioPlayer = songDetailElement.querySelector('audio');
           var playIcon = songDetailElement.querySelector('#playIcon');
           var pauseIcon = songDetailElement.querySelector('#pauseIcon');
   
           // Si se está reproduciendo otro audio, pausar el audio actual y restablecer el botón
           if (currentAudio && currentAudio !== audioPlayer) {
               currentAudio.pause();
               resetPlayPauseButton(currentAudio.closest('.song-details'));
           }
   
           // Reproducir o pausar el audio seleccionado
           if (audioPlayer.paused) {
               audioPlayer.volume = 0.2;
               audioPlayer.play();
               playIcon.style.display = 'none';
               pauseIcon.style.display = 'block';
               currentAudio = audioPlayer;
   
               // Añade la clase .playing al contenedor del div
               songDetailElement.closest('.song-details').classList.add('playing');
           } else {
               audioPlayer.pause();
               playIcon.style.display = 'block';
               pauseIcon.style.display = 'none';
               currentAudio = null;
   
               // Remueve la clase .playing del contenedor del div
               songDetailElement.closest('.cards').classList.remove('playing');
           }
       };
   
       // Evento para manejar el final de la canción
       audioPlayers.forEach(function(audioPlayer) {
           audioPlayer.addEventListener('ended', function() {
               resetPlayPauseButton(audioPlayer.closest('.song-details'));
               currentAudio = null;
   
               // Remueve la clase .playing cuando el audio termina
               audioPlayer.closest('.cards').classList.remove('playing');
           });
       });
   
       // Función para restablecer el botón de reproducción/pausa
       function resetPlayPauseButton(songDetailElement) {
           var playIcon = songDetailElement.querySelector('#playIcon');
           var pauseIcon = songDetailElement.querySelector('#pauseIcon');
           playIcon.style.display = 'block';
           pauseIcon.style.display = 'none';
   
           // Remueve la clase .playing del contenedor del div
           songDetailElement.closest('.cards').classList.remove('playing');
       }
       //
   
   </script>