body{
    background: rgb(13 12 28);;
    margin: none;
    padding: none;
    height: 100%;
}

html, body{
    padding: 0;
    margin: 0;
}

h2{
    font-size: 100px;
}

nav ul{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    list-style: none;
    gap: 80px;
    align-items: center;
    font-family: poppins;
    margin: 0;
    padding: 0;
}

nav a{
    text-decoration: none;
    font-weight: 400;
    display: inline-block;
    width: 100px; 
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
}

nav li{
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav a:hover{
    filter: brightness(0.8);
}

nav a:visited{
    color: rgb(255, 255, 255);
}

nav {
    position: sticky;
    z-index: 100;
    display: flex;
    top: 0;
    background-color: rgba(0, 0, 0, 0.171);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);  
    height: 85px;
    align-items: center;
    justify-content: center;
}

#lib{
    width: 35px;
    height: auto;
    padding: 0;
    margin-top: 5px;
}
#liked{
    width: 25px;
    height: auto;
    padding: 0;
    margin-top: 5px;
}

#home{
    width: 30px;
    height: auto;
    padding: 0;
    margin-top: 5px;
}

#logout{
    color: rgb(110, 110, 110);
}


@media screen and (max-width: 768px) {
    nav ul{
        gap: 9px;
        font-size: 12px;
    }
    #home{
        width: 20px;
        margin-left: 10px;
    }

    nav a{
        padding: 0;
    }
}

#profile{
    line-height: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: background-color 0.3s;
    width: 50px;
    border-radius: 100%;
}
.pfp{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 100%;
    color: white;
}

#profile a:hover{
    background-color: rgba(85, 39, 172, 0.452);
    border-radius: 50%;
    transition: background-color 0.3s;
}


