
.reco{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    gap: 20px;
}
p{
    color: white;
}

a{
    text-decoration: none;
}

#artist-img{
    border-radius: 50%;
}

h1{
    color: white;
    font-family: poppins;
    text-align: center;
    font-weight: 600;
    padding: 0;
    margin: 0;
    margin-top: 50px;
}

.title p{
    color: rgb(100, 100, 100);
    font-family: poppins;
    text-align: center;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.title{
    display: flex;
    justify-content: left;
    align-items: left;
    align-content: center;
    margin: 0;
    padding: 0;
    flex-direction: column;
    gap: 20px;
}
a:hover{
    img {filter: brightness(0.8);}
}
.all{
    display: flex;
    flex-direction: row;
    font-family: poppins;
    border-radius: 0.5em;
    text-align: center;
    gap: 15px;
}

.all p{
    font-weight: 600;
    margin-bottom: 100px;
}

.reco img{
    margin: 7em 2em 0 2em;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
}

@media screen and (max-width: 820px) {
    .a-height {
        height: 100px;
    }
    .all{
        display: flex;
        gap: 10px;
        width: 80%;
        flex-wrap: wrap;
        justify-content: center;
        font-family: poppins;
        border-radius: 0.5em;
        text-align: center;
    }


    .a-artist{
        margin-bottom: -135px;
    }

    .p-playlist{
        margin-bottom: -135px;
    }

    .a-title{
        margin-bottom: 100px;
    }
    .all > div{
        flex: 0 0 0 0 calc(45% - 12px); 
    }
}

@media screen and (max-width: 550px) {
    .all img{
        width: 100px;
        height: 100px;
    }

}

@media screen and (max-width: 450px) {
    .all img{
        width: 80px;
        height: 80px;
    }

    .all p{
        font-size: 12px;
    }
}

